

.pageAnimation {
    animation: pageAnimation 0.6s ease-in-out forwards;
    transform-origin: calc(100% - 60px) 20px;
    opacity: 0; 
  }
  
  @keyframes pageAnimation {
    0% {
      transform: scale(0);
      opacity: 0.4;
      border-radius: 50%;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  