
@import "tailwindcss";
*{
  box-sizing: border-box;
}


body{
  background-color: #040714;
  background-color: #000000;
  color: #fff;
  font-family: "League Spartan", sans-serif;
}

.backImage {
  background-image: linear-gradient(to right, #1a1a1a 1px, transparent 1px), linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
  background-size: 3.2vw 3.2vw;
  opacity: 1;
}


.disableDrag {
  img {
    user-select: none;       
    -webkit-user-drag: none; 
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;   
    /* pointer-events: none;    */
  }
}

.navlinkContainer .active{
  border-color: #64f196;
  color: #64f196;
}

