.smallDot {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    transform: scale(1.8);
  }
}

.backImage {
  background-image: linear-gradient(to right, #1a1a1a 1px, transparent 1px), linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
  background-size: 3.2vw 3.2vw;
  opacity: 1;
}